.search-results {
	list-style: none;
	margin: 12px;
	border-bottom: 1px solid #afafaf;
	padding-bottom: 12px;
}
.search-results a {border: none;}
.search-results a:hover {text-decoration: none;border:none;}
.search-results .search-results-title a{
	font-size: 16px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.search-results .search-results-site a,
.search-results .search-results-subhead {
	font-size: 12px;
	color: #afafaf;
	text-transform: capitalize;
}

#elastic-filter-terms {
	text-transform: capitalize;
}